{{ form_start(todoForm) }}
    {{ form_row(todoForm.name) }}
    {{ form_row(todoForm.categories) }}
    {{ form_row(todoForm.description) }}
    {{ form_row(todoForm.priority) }}
    {{ form_row(todoForm.dueDate) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(todoForm) }}